export GITHUB_USERNAME=maxdrift
export GITHUB_TOKEN=some-token

# User specific changes
# Overwrite defaults in this file with your own values in .envrc.custom
[ -f .envrc.custom ] && source .envrc.custom

exit 0
